/* navbar section */
.navbar-section{
    background-color: #000000;
    overflow: hidden;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-section a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}


.navbar-section a:hover{
    background-color: #000080;
    color: white;
    border-radius: 20px;
    border-bottom: 1px solid #ffffff
}

.logo{
    height: 60px;
  float: left;
  margin-right: 7px;
margin-bottom: 20px;
}

/* background section */
img {
    height: 20%;
}
body{
    margin: 0px;
    padding: 0px;
}
.background-section{
    position: relative;
    margin-bottom: 100px;

}
.background-text p{
    position: absolute;
    right: 45%;
    top: 5%;
    margin-bottom:50px;
    font-size: 3em;
    
    font-weight: bold;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

.background-text a{
    position: absolute;
    top: 80%;
    font-weight: bold;
    background-color: #000080;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    left: 45%;
}



/* about section */
.about-section{
    text-align: center;
} 


.about-section h1{
    font-weight: bold;
    margin-bottom: 80px;
}


.card{
    width: 100%;
}



/* auth professor */
.professor-auth-section{
    margin-top: 200px;
    background-color: #000000;
    padding: 30px 20px 10px;
    color:#ffffff;
}
.professor-auth-section h1{
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 3px 2px rgba(150, 150, 150, 1);
}
/* Full-width inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #00026b;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

.column {
  float: left;
  width: 50%;
  background-color:#000080;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

footer{
    margin-top: 400px;
    width: 100%;
    height: 300px;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    float: left;
    text-align: center;
}

.footer-item.footer-logo{
    width: 15%;
    margin-top:70px;
}

.footer-item.footer-note{
    width: 25%;
    
}
.footer-item.footer-note h6{
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    width: 20%;
    margin-left: 38%;
    margin-top: 15%
}

.footer-item.footer-rights{
    width: 30%;
    position: relative;
}
.footer-item.footer-rights p{
    position: absolute;
    bottom: 5%;
    left: 30%;
    
}
.footer-item.footer-contact{
    width: 40%;
}
.footer-item.footer-contact h6{
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
    width: 20%;
    margin-left: 38%;
    margin-top: 8%
}