 /* navbar section */
 .navbar-section{
    background-color: #000000;
    overflow: hidden;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-section a{
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar-section a:hover{
    background-color: #7f7e7d;
    color: black;
    border-radius: 20px;
    border-bottom: 1px solid #ffffff
}

.logo{
    height: 60px;
  float: left;
  margin-right: 7px;
margin-bottom: 20px;
}

#grand-titre{
    text-align: center;
    margin: 100px auto 100px auto;
}
#grand-titre .h1{
    font-weight: bold;
    font-size: 2em;
}
#form-section{
    border: 2px solid black;
    padding: 100px ;
    text-align: center;
    background-color: #000324; 
}

form label{
    float: left;
    margin-bottom: 10px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.6em;
    color: white;
}

form input[type=text], input[type=password], input[type=email]{
    width:100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid green;
    background-color: #ffffff;
    color: black;
}
input[type=submit]{
    width: 80%;
    color: black;
    border-radius: 50px;
    margin-top: 50px;
    font-weight: bold;
    padding: 10px;
}

erreur_a_afficher{
    background-color:#ffffff;
    color:#000000;
}